node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.env
.vscode/
web-build/
yarn.lock
package.json
package-lock.json
config.js
# macOS
.DS_Store
.gitignore

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*
